.name {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
    background-color: F0F0F0;
}

.subname {
    background-color: F0F0F0;
}

.info {
    text-align: right;
    background-color: F0F0F0;
}